certifi==2021.5.30
click==7.1.2
distlib==0.3.1
flasgger==0.9.5
Flask==2.0.1
Flask-Cors==3.0.10
flask-googlemaps==0.4.1
Flask-WTF==0.15.1
gensim==4.0.1
gunicorn==20.1.0
h5py==3.1.0
htmlmin==0.1.12
itsdangerous==2.0.1
joblib==1.0.1
jsmin==2.2.2
json5==0.9.5
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.2.2
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.3.0
module==0.0.4
msgpack==1.0.2
msgpack-python==0.5.6
murmurhash==1.0.5
nltk==3.6.2
numpy==1.19.5
oauthlib==3.1.1
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==21.0
pandas==1.2.4
pathlib==1.0.1
pathy==0.5.2
Pillow==8.2.0
pipenv==2020.11.15
pkginfo==1.7.0
playsound==1.2.2
plotly==5.3.1
preshed==3.0.5
protobuf==3.17.3
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pydantic==1.7.4
pydeck==0.6.2
pydot==1.4.2
Pygments==2.9.0
pymdown-extensions==8.2
python-dateutil==2.8.2
pytube==10.6.0
PyYAML==5.4.1
pyyaml_env_tag==0.1
pyzmq==20.0.0
regex==2021.7.6
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
sklearn==0.0
smart-open==3.0.0
smmap==4.0.0
spacy==3.0.6
spacy-legacy==3.0.6
sqlparse==0.4.1
srsly==2.4.1
stopwords==1.0.0
streamlit==0.83.0
tenacity==8.0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
terminado==0.9.4
textblob==0.15.3
thinc==8.0.6
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
validators==0.18.2
virtualenv==20.4.4
virtualenv-clone==0.5.4
wasabi==0.8.2
watchdog==2.1.3
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
xlrd==2.0.1
